ReWriteEngine	On

ReWriteRule	^uye-giris$ /e_ticaret/index.php?SK=31 [L,NC]
ReWriteRule	^anasayfa$ /e_ticaret/index.php?SK=0 [L,NC]
ReWriteRule	^hesabim/uyelik-bilgilerim$ /e_ticaret/index.php?SK=50 [L,NC]
ReWriteRule	^erkek-ayakkabilari$ /e_ticaret/index.php?SK=84 [L,NC]
ReWriteRule	^erkek-ayakkabisi$ /e_ticaret/index.php?SK=84 [L,NC]
ReWriteRule	^kadin-ayakkabilari$ /e_ticaret/index.php?SK=85 [L,NC]
ReWriteRule	^kadin-ayakkabisi$ /e_ticaret/index.php?SK=85 [L,NC]
ReWriteRule	^cocuk-ayakkabilari$ /e_ticaret/index.php?SK=86 [L,NC]
ReWriteRule	^cocuk-ayakkabisi$ /e_ticaret/index.php?SK=86 [L,NC]
ReWriteRule	^yeniuyeformu$ /e_ticaret/index.php?SK=22 [L,NC]
ReWriteRule	^hakkimizda$ /e_ticaret/index.php?SK=1 [L,NC]
ReWriteRule	^banka-hesaplarimiz$ /e_ticaret/index.php?SK=8 [L,NC]
ReWriteRule	^havale-bildirim-formu$ /e_ticaret/index.php?SK=9 [L,NC]
ReWriteRule	^destek$ /e_ticaret/index.php?SK=21 [L,NC]
ReWriteRule	^uyelik-sozlesmesi$ /e_ticaret/index.php?SK=2 [L,NC]
ReWriteRule	^kullanim-kosullari$ /e_ticaret/index.php?SK=3 [L,NC]
ReWriteRule	^gizlilik-sozlesmesi$ /e_ticaret/index.php?SK=4 [L,NC]
ReWriteRule	^mesafeli-satis-sozlesmesi$ /e_ticaret/index.php?SK=5 [L,NC]
ReWriteRule	^teslimat-kosullari$ /e_ticaret/index.php?SK=6 [L,NC]
ReWriteRule	^iptal-iade-degisim-kosullari$ /e_ticaret/index.php?SK=7 [L,NC]
ReWriteRule	^kargom-nerede$ /e_ticaret/index.php?SK=14 [L,NC]
ReWriteRule	^iletisim$ /e_ticaret/index.php?SK=16 [L,NC]
ReWriteRule	^sepet$ /e_ticaret/index.php?SK=94 [L,NC]
ReWriteRule	^hesabim/adresler$ /e_ticaret/index.php?SK=58 [L,NC]
ReWriteRule	^hesabim/favoriler$ /e_ticaret/index.php?SK=59 [L,NC]
ReWriteRule	^hesabim/yorumlar$ /e_ticaret/index.php?SK=60 [L,NC]
ReWriteRule	^hesabim/siparisler$ /e_ticaret/index.php?SK=61 [L,NC]
ReWriteRule	^cocuk-ayakkabisi/(.*)/(.*)$ /e_ticaret/index.php?SK=83&ID=$2 [L,NC]
ReWriteRule	^erkek-ayakkabisi/(.*)/(.*)$ /e_ticaret/index.php?SK=83&ID=$2 [L,NC]
ReWriteRule	^kadin-ayakkabisi/(.*)/(.*)$ /e_ticaret/index.php?SK=83&ID=$2 [L,NC]
ReWriteRule	^uyeCikis$ /e_ticaret/index.php?SK=49 [L,NC]